NLP Movie Review

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('IMDB Dataset.csv')
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [3]:
df['review'][100].lower()

"this short film that inspired the soon-to-be full length feature - spatula madness - is a hilarious piece that contends against similar cartoons yielding multiple writers. the short film stars edward the spatula who after being fired from his job, joins in the fight against the evil spoons. this premise allows for some funny content near the beginning, but is barely present for the remainder of the feature. this film's 15-minute running time is absorbed by some odd-ball comedy and a small musical number. unfortunately not much else lies below it. the plot that is set up doesn't really have time to show. but it's surely follows it plot better than many high-budget hollywood films. this film is worth watching at least a few times. take it for what it is, and don't expect a deep story."

In [4]:
df['review']=df['review'].str.lower()
df.head(5)

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

Remove HTML Tags using Regex

In [5]:
import re

def remove_html_tags(text):
    clean_pattern = re.compile('<.*?>')
    return clean_pattern.sub('', text)

In [6]:
df['review']=df['review'].apply(remove_html_tags)
df.head(5)

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

Removing URLs

In [7]:
def remove_urls(text):
    clean_pattern = re.compile(r'https?://\S+|www\.\S+')
    return clean_pattern.sub('', text)

Removing Punctuation

In [9]:
import string

exclude=string.punctuation
def remove_punctuation(text):
    for char in exclude:
        text=text.replace(char,'')
    return text

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [ ]:
df['review']=df['review'].apply(remove_punctuation)
df.head(5)

Spelling correction

In [ ]:
from textblob import TextBlob

def spelling_correction(text):
    txtblob = TextBlob(text)
    return str(txtblob.correct())

In [ ]:
df['review']=df['review'].apply(spelling_correction)
df.head(5)

Removing stopwords

In [ ]:
from nltk.corpus import stopwords
stopwords=set(stopwords.words('english'))

def remove_stopwords(text):
    clean_text=' '.join([word for word in text.split() if word not in stopwords])
    return clean_text

In [ ]:
df['review']=df['review'].apply(remove_stopwords)
df.head(5)

Stemming

In [ ]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

def stemming(text):
    stem_text=' '.join([ps.stem(word) for word in text.split()])
    return stem_text

In [ ]:
df['review']=df['review'].apply(stemming)
df.head(5)

Lemmatization

In [ ]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

def lemmatizing(text):  
    lemm_text=' '.join([lemmatizer.lemmatize(word) for word in text.split()])
    return lemm_text

In [ ]:
df['review']=df['review'].apply(lemmatizing)
df.head(5)